<div xmlns:th="http://www.thymeleaf.org">
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" th:text="${session.admin.username}">姓名<span
                class="caret"></span></a>
        <ul class="dropdown-menu">
            <!--<li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> 我的信息</a></li>-->
            <li><a href="sys.html"><i class="md md-settings"></i> 系统设置</a></li>
            <li><a href="/logout"><i class="md md-settings-power"></i> 退出系统</a></li>
        </ul>
    </div>
</div>