<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>打卡计划</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <header class="bar bar-nav">
            <h1 class='title'>打卡列表</h1>
        </header>
        <div class="content">
                <div class="content-block-title" th:text="${notice}"></div>
                <div class="list-block media-list">
                    <ul>
                        <li th:each="task:${tasks}">
                            <a th:href="${(task.running && task.autoKq && task.deleted())?'javascript:kq('+task.id+')':'javascript:notOk()'}"
                               class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title" th:text="${task.name}"
                                             th:style="${(task.running && task.autoKq && task.deleted())?'color:green':''}">
                                            Facebook
                                        </div>
                                        <div class="item-after" th:text="${task.deleted()?'未打卡':'已打卡'}">17:14</div>
                                    </div>
                                    <div class="item-text" th:text="${task.text}">此处是文本内容...</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script src="http://s3.mogucdn.com/mlcdn/c45406/171127_3b6b06862307ia661k3bhf910dh50.js"></script>
<script>
    $.init();

    function notOk() {
        $.alert('你已经打卡或暂不可打卡');
    }

    function kq(planId) {
        $.confirm('你确定打卡吗?', function () {
            $.getJSON('/user/kq?planId=' + planId, function (data) {
                if (data['status'] != 'ok') {
                    $.alert(data['msg']);
                } else {
                    $.alert('打卡成功');
                    window.location.reload();
                }
            })
        });
    }
</script>
</body>
</html>